#pk-toolbar
{
    margin: 40px 0px;
}
.pk-txt-large
{
    font-size: 20px;
    line-height: 24px;
}
.pk-txt-medium
{
    font-size: 16px;
    line-height: 22px;
}
.pk-dsp-block
{
    display:block !important;
}
.pk-minfo
{
    cursor:help;
}
.pk-nopad
{
    padding: 0px 0px 0px 0px !important;
}