<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="list" label="PKGLOBAL_LIST_OPTIONS_LABEL" description="COM_PKPROJECTS_LIST_OPTIONS_DESC">
        <field name="sort_by" type="list" default="a.due_date" label="PKGLOBAL_PRIMARY_SORT">
			<option value="access_level">JGRID_HEADING_ACCESS</option>
            <option value="author_name">JAUTHOR</option>
            <option value="category_title">JCATEGORY</option>
            <option value="a.created">JDATE</option>
            <option value="a.due_date">PKGLOBAL_DUE_DATE</option>
            <option value="a.id">JGRID_HEADING_ID</option>
            <option value="a.ordering">JGRID_HEADING_ORDERING</option>
            <option value="a.progress">PKGLOBAL_PROGRESS</option>
            <option value="a.published">PKGLOBAL_PUBLISHING_STATE</option>
            <option value="a.start_date">PKGLOBAL_START_DATE</option>
			<option value="a.title">JGLOBAL_TITLE</option>
		</field>
        <field name="order_by" type="list" default="asc" label="PKGLOBAL_PRIMARY_ORDER">
            <option value="asc">PKGLOBAL_ORDER_BY_AZ</option>
			<option value="desc">PKGLOBAL_ORDER_BY_ZA</option>
        </field>
        <field name="sort_by_sec" type="list" default="a.progress" label="PKGLOBAL_SECONDARY_SORT">
			<option value="access_level">JGRID_HEADING_ACCESS</option>
            <option value="author_name">JAUTHOR</option>
            <option value="category_title">JCATEGORY</option>
            <option value="a.created">JDATE</option>
            <option value="a.due_date">PKGLOBAL_DUE_DATE</option>
            <option value="a.id">JGRID_HEADING_ID</option>
            <option value="a.ordering">JGRID_HEADING_ORDERING</option>
            <option value="a.progress">PKGLOBAL_PROGRESS</option>
            <option value="a.published">PKGLOBAL_PUBLISHING_STATE</option>
            <option value="a.start_date">PKGLOBAL_START_DATE</option>
			<option value="a.title">JGLOBAL_TITLE</option>
		</field>
        <field name="order_by_sec" type="list" default="asc" label="PKGLOBAL_SECONDARY_ORDER">
            <option value="asc">PKGLOBAL_ORDER_BY_AZ</option>
			<option value="desc">PKGLOBAL_ORDER_BY_ZA</option>
        </field>
        <field name="filter_category_id" type="category" extension="com_pkprojects" label="COM_PKPROJECTS_FILTER_CATEGORY_LABEL" description="COM_PKPROJECTS_FILTER_CATEGORY_DESC">
            <option value="">PKGLOBAL_NO_FILTER</option>
            <option value="0">PKGLOBAL_UNCATEGORISED</option>
        </field>
        <field name="filter_published" type="list" label="PKGLOBAL_FILTER_PUBLISHED_LABEL" description="PKGLOBAL_FILTER_PUBLISHED_DESC">
            <option value="">PKGLOBAL_DEFAULT_FILTER</option>
            <option value="1">JPUBLISHED</option>
            <option value="0">JUNPUBLISHED</option>
            <option value="2">JARCHIVED</option>
            <option value="-2">JTRASHED</option>
        </field>
        <field name="filter_author_id" type="list" label="PKGLOBAL_FILTER_AUTHOR_LABEL" description="PKGLOBAL_FILTER_AUTHOR_DESC">
            <option value="">PKGLOBAL_NO_FILTER</option>
            <option value="me">PKGLOBAL_CREATED_BY_ME</option>
            <option value="notme">PKGLOBAL_NOT_CREATED_BY_ME</option>
        </field>
        <field name="filter_access" type="accesslevel" label="PKGLOBAL_FILTER_ACCESS_LABEL" description="PKGLOBAL_FILTER_ACCESS_DESC">
            <option value="">PKGLOBAL_DEFAULT_FILTER</option>
        </field>
    </fieldset>
    <fieldset name="form" label="PKGLOBAL_FORM_OPTIONS_LABEL" description="COM_PKPROJECTS_FORM_OPTIONS_DESC">
        <field name="auto_alias" type="radio" class="btn-group btn-group-yesno" default="1" label="PKGLOBAL_AUTO_ALIAS_LABEL" description="PKGLOBAL_AUTO_ALIAS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        <field name="auto_access" type="radio" class="btn-group btn-group-yesno" default="1" label="PKGLOBAL_AUTO_ACCESS_LABEL" description="PKGLOBAL_AUTO_ACCESS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        <field name="duration" type="text" class="input-small" default="30" label="COM_PKPROJECTS_DEFAULT_DURATION_LABEL" description="COM_PKPROJECTS_DEFAULT_DURATION_DESC"/>
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" validate="rules" filter="rules" component="com_pkprojects" section="component" />
	</fieldset>
</config>